@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bodycol: #0a3cce;
    --elemoutline: #ecf2ff;
    --textbefcol: #ecf2ff69;
    --margecol1: #133AD1;
    --margecol2: #0F36C6;
    --margecol3: #0440D4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    overflow: hidden;
    background-color: var(--bodycol);
}

#page1 {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page1>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 6.5vw;
    width: 100%;
    padding: 0 3vw;
}

#page1>nav img {
    height: 5vw;
}

#nav-buttons {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1vw;
}

#nav-buttons button {
    padding: 0.8vw 1.6vw;
    border: 1px solid var(--elemoutline);
    color: var(--elemoutline);
    background-color: var(--bodycol);
    border-radius: 50px;
    font-size: 1vw;
}

.bottom-txt {
    position: absolute;
    bottom: 8%;
    left: 8%;
    height: 40%;
    width: 45%;
    color: var(--elemoutline);
}

.bottom-txt>h1 {
    font-size: 6.5vw;
    line-height: 1;
    font-weight: 350;
}

.bottom-txt2 {
    height: 30%;
    width: 90%;
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5vw;
}

.bottom-txt2>h4 {
    font-size: 1.3vw;
    font-weight: 300;
}

.bottom-txt2>button {
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 0.8vw 2.8vw;
    border: 1px solid var(--elemoutline);
    color: var(--bodycol);
    background-color: var(--elemoutline);
    border-radius: 50px;
    font-size: 1vw;
}

.scrolling {
    position: absolute;
    bottom: 7%;
    right: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    color: var(--elemoutline);
}

.scrolling>h4 {
    font-size: 1.1vw;
    font-weight: 320;
}

.scrolling>i {
    font-size: 1.3vw;
    animation-name: scroll1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes scroll1 {

    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-7px);
    }

    60% {
        transform: translateY(-5px);
    }

}

#page2 {
    height: 80vh;
    width: 100vw;
    background-color: var(--margecol1);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 8vw;
    color: var(--elemoutline);
}

#page2>h2 {
    font-weight: 320;
    margin-bottom: 4vw;
}

#page2>h1 {
    width: 95%;
    font-weight: 350;
    font-size: 4.5vw;
    line-height: 1.2;
    color: var(--textbefcol);
}

#page3 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#page3>canvas {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page4 {
    height: 100vh;
    width: 100vw;
    background-color: var(--margecol2);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 8vw;
    color: var(--elemoutline);
}

#page4>h2 {
    font-weight: 320;
    margin-bottom: 4vw;
}

#page4>h1 {
    width: 95%;
    font-weight: 350;
    font-size: 4.5vw;
    line-height: 1.2;
    color: var(--textbefcol);
}

#page5 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#page5>canvas {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page6 {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, var(--margecol2), #193DC6);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 8vw;
    color: var(--elemoutline);
}

#page6>h2 {
    font-weight: 320;
    margin-bottom: 4vw;
}

#page6>h1 {
    width: 95%;
    font-weight: 350;
    font-size: 4.5vw;
    line-height: 1.2;
    color: var(--textbefcol);
}

#page7 {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: var(--margecol2);
}

#page7>canvas {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 7;
}

.page7-cir {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    border: 0.3px solid #ecf2ff69;
    position: absolute;
    z-index: 8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.page7-cir-inner {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: 0.3px solid var(--elemoutline);
    background-color: #15379f82;
    opacity: 0;
}

#page7>video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 6;
    opacity: 0;
    scale: 3.2;
}

.page7-bottom {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    overflow-y: hidden;
}

.page7-bottom>.hidden {
    overflow-y: hidden;
}

.page7-bottom>.hidden>h1 {
    color: var(--elemoutline);
    font-size: 6.5vw;
    font-weight: 350;
    margin-bottom: 2vw;
}

.page7-bottom>button {
    padding: 0.8vw 2.8vw;
    border: 1px solid var(--elemoutline);
    color: var(--bodycol);
    background-color: var(--elemoutline);
    border-radius: 50px;
    font-size: 1vw;
}

#page8 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--margecol3);
    display: flex;
}

.left8 {
    position: relative;
    height: 100%;
    width: 36%;
}

.left8>h1 {
    font-size: 6.5vw;
    line-height: 0.9;
    font-weight: 320;
    top: 35%;
    right: 10%;
    position: absolute;
    transform: translateY(-50%);
    color: var(--elemoutline);
}

.right8 {
    position: relative;
    height: 100%;
    width: 64%;
}

.right8-img {
    position: absolute;
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    height: 60%;
    width: 90%;
    border-radius: 20px;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
}

#page9 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--margecol3);
}
.right9{
    position: relative;
    height: 100%;
    width: 60%;
    left: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3vw 2vw 3vw 0;
}
.right9-txt{
    color: var(--elemoutline);
    width: 90%;
}
.right9-txt>h1{
    font-size: 1.6vw;
    font-weight: 500;
    margin-bottom: 0.8vw;
}
.right9-txt>h4{
    font-size: 1.6vw;
    font-weight: 300;
    margin-bottom: 4vw;
}

#page10{
    height: 130vh;
    width: 100vw;
    position: relative;
    background-color: var(--elemoutline);
}
#page10>h1{
    font-size: 6.5vw;
    font-weight: 320;
    position: absolute;
    margin: 5vw 0 5vw 0;
    left: 10%;
}
.swiper{
    position: absolute !important;
    width: 100%;
    height: calc(130vh - 16.5vw);
    bottom: 5%;
}

.swiper-slide{
    padding: 0 1vw;
    margin: 6vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-cont{
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    margin-top: 4vw;
}
.img-cont>img{
    height: 100%;
    width: 100%;
    scale: 1.035;
    transition: all ease 0.8s;
}
.swiper-slide:hover .img-cont>img{
    scale: 1.14;
}
.swip-txt{
    display: flex;
    flex-direction: column;
    margin: 2vw 0;
    padding-left: 1vw;
}
.swip-txt>h2{
    font-weight: 400;
    font-size: 2.4vw;
    margin-bottom: 1vw;
}
.swip-txt>ul{
    margin-left: 0.5vw;
    list-style-type: none;
}
.swip-txt>ul>li{
    position: relative;
    background-image: url(./Assets/tick.svg);
    padding: 0 0 0 1.4vw;
    background-position: 0 0.5vw;
    background-size: 0.7vw auto;
    background-repeat: no-repeat;
    margin: 0 0 0.3vw;
}
.slide1{
    margin-left: 10vw;
}
#page11{
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: #02268E;
    display: flex;
    flex-direction: column-reverse;
}
.upper11{
    height: 50%;
    width: 35%;
    position: absolute;
    top: 12%;
    right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5vw;
}
.upper11>h1{
    font-size: 6vw;
    font-weight: 350;
    color: var(--elemoutline);
}
.upper11>h4{
    font-size: 1.5vw;
    font-weight: 300;
    color: #ecf2ffbb;
    margin-bottom: 4vw;
}
.roller-wrapper{
    white-space: nowrap;
    overflow-x: auto;
}

.roller-wrapper::-webkit-scrollbar {
    display: none;
}

.img-wrapper{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.img-wrapper img{
    max-height: 4vw;
    width: auto;
    display: inline-block;
    margin: 10vw 6vw;
}

@keyframes move {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

#page12{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #0F0F17;
    padding: 10vw;
}
#page12>h1{
    font-size: 6vw;
    font-weight: 350;
    line-height: 1;
    color: var(--elemoutline);
}
#page12>button{
    background-color: var(--bodycol);
    color: var(--elemoutline);
    padding: 0.8vw 2vw;
    font-size: 1.3vw;
    border-radius: 50px;
    border: none;
    margin-top: 4vw;
}
#page13{
    position: relative;
    height: 75vh;
    width: 100vw;
    background-color: #0F0F17;
    padding-top: 4vw;
}
.page13-sect{
    position: relative;
    width: 100vw;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    border-top: 0.3px solid #ecf2ffa8;
    border-bottom: 0.3px solid #ecf2ffa8;
    color: var(--elemoutline);
    overflow: hidden;
}
.page13-sect>h1{
    font-size: 3vw;
    font-weight: 300;
    z-index: 9;
}
.page13-sect>i{
    font-size: 1.5vw;
    font-weight: 100;
    z-index: 9;
}
.page13-cov{
    height: 0;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bodycol);
    transition: all ease 0.5s;
}
.page13-sect:hover .page13-cov{
    height: 100%;
}

#page14{
    position: relative;
    background-color: #0F0F17;
    height: 55vh;
    width: 100vw;
    border-bottom: 2px solid var(--bodycol);
}
.upper14{
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    color: var(--elemoutline);
}
.right14{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}
.right14>h4{
    font-size: 1.6vw;
    font-weight: 200;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.line{
    width: 0;
    height: 1.5px;
    background-color: var(--elemoutline);
    transition: all ease 0.5s;
}
.column>span:hover .line{
    width: 100%;
}
.left14{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5vw;
    padding: 0 3vw;
    color: var(--elemoutline);
}
.left14>h2{
    font-size: 2.5vw;
    font-weight: 300;
}
.input-cont{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--textbefcol);
    padding-bottom: 10px;
    transition: all ease 0.25s;
}
.input-cont>input{
    width: 90%;
    color: var(--elemoutline);
    background-color: #0F0F17;
    border: none;
    font-size: 1.3vw;
}
.input-cont>input::-webkit-input-placeholder{
    color: var(--elemoutline);
}
.input-cont:hover{
    border-bottom: 0.5px solid var(--elemoutline);
}
.input-cont>input:focus{
    outline: none;
}
#page14>h1{
    position: absolute;
    bottom: 3vw;
    left: 8vw;
    font-size: 4vw;
    font-weight: 500;
    color: var(--textbefcol);
}