@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bodycol: #0a3cce;
    --elemoutline: #ecf2ff;
    --textbefcol: #ecf2ff69;
    --margecol1:#133AD1;
    --margecol2: #0F36C6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost";
}
html, body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    overflow: hidden;
    background-color: var(--bodycol);
}
#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height:6.5vw;
    width: 100%;
    padding: 0 3vw;
}
#page1>nav img{
    height: 5vw;
}

#nav-buttons{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1vw;
}

#nav-buttons button{
    padding: 0.8vw 1.6vw;
    border: 1px solid var(--elemoutline);
    color: var(--elemoutline);
    background-color: var(--bodycol);
    border-radius: 50px;
    font-size: 1vw;
}

.bottom-txt{
    position: absolute;
    bottom: 8%;
    left: 8%;
    height: 40%;
    width: 45%;
    color: var(--elemoutline);
}
.bottom-txt>h1{
    font-size: 6.5vw;
    line-height: 1;
    font-weight: 350;
}
.bottom-txt2{
    height: 30%;
    width: 90%;
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5vw;
}
.bottom-txt2>h4{
    font-size: 1.3vw;
    font-weight: 300;
}
.bottom-txt2>button{
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 0.8vw 2.8vw;
    border: 1px solid var(--elemoutline);
    color: var(--bodycol);
    background-color: var(--elemoutline);
    border-radius: 50px;
    font-size: 1vw;
}
.scrolling{
    position: absolute;
    bottom: 7%;
    right: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    color: var(--elemoutline);
}
.scrolling>h4{
    font-size: 1.1vw;
    font-weight: 320;
}
.scrolling>i{
    font-size: 1.3vw;
    animation-name: scroll1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes scroll1 {
    0%, 100%, 20%, 50%, 80%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-7px);
    }
    60%{
        transform: translateY(-5px);
    }
    
}

#page2{
    height: 80vh;
    width: 100vw;
    background-color: var(--margecol1);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 8vw;
    color: var(--elemoutline);
}
#page2>h2{
    font-weight: 320;
    margin-bottom: 4vw;
}
#page2>h1{
    width: 95%;
    font-weight: 350;
    font-size: 4.5vw;
    line-height: 1.2;
    color: var(--textbefcol);
}
#page3{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page4{
    height: 100vh;
    width: 100vw;
    background-color: var(--margecol2);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 8vw;
    color: var(--elemoutline);
}
#page4>h2{
    font-weight: 320;
    margin-bottom: 4vw;
}
#page4>h1{
    width: 95%;
    font-weight: 350;
    font-size: 4.5vw;
    line-height: 1.2;
    color: var(--textbefcol);
}
#page5{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#page5>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page6{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, var(--margecol2),#193DC6);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 8vw;
    color: var(--elemoutline);
}
#page6>h2{
    font-weight: 320;
    margin-bottom: 4vw;
}
#page6>h1{
    width: 95%;
    font-weight: 350;
    font-size: 4.5vw;
    line-height: 1.2;
    color: var(--textbefcol);
}
#page7{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: var(--margecol2);
}
#page7>canvas{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 7;
}
.page7-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    border: 1px solid #ecf2ff69;
    position: absolute;
    z-index: 8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.page7-cir-inner{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: 1px solid var(--elemoutline);
    background-color: #0a3bce4b;
    opacity: 0;
}

#page7>video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 6;
    opacity: 0;
    scale: 3.2;
}

#page8{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--bodycol);
}
.page7-bottom{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    background-color: red;
}
.page7-bottom>h1{
    color: var(--elemoutline);
    font-size: 6.5vw;
    font-weight: 350;
    margin-bottom: 2vw;
    overflow: hidden;
}
.page7-bottom>button{
    padding: 0.8vw 2.8vw;
    border: 1px solid var(--elemoutline);
    color: var(--bodycol);
    background-color: var(--elemoutline);
    border-radius: 50px;
    font-size: 1vw;
}
/* 
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
 */